:root {
  --primary: #5BBFBA;
  --secondary: #5F6CAF;
  --third: #E7F0C3;
  --fourth: #f0cf85;
  --fifth: #A4D4AE;
  --darkgrey-medium: #999;
  --lightgrey-light: #D6D6D6;
  --lightgrey-lighter: #f2f2f2;
  --white: #fff;
  --primary-text: #1c1c1c;
  --max-width: 81.5rem;
  --border-radius: 0.5rem;
}