@import './_variables.scss';
@import './_media-queries.scss';

.container-firstBanner {
  margin: 30px 20px 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  background: linear-gradient(90deg,rgba(91,191,186,1) 0%,rgba(106,106, 166,1) 30%, rgba(47,47,124,1) 80%);
  border-radius: var(--border-radius);
  padding: 30px 50px;
  color: var(--white);

  @include mobile {
    flex-direction: column;
    margin: 1.7rem 1rem;
    padding: 1.7rem 1.7rem;
    align-items: center;
  }
  .text-firstBanner {
    max-width: 450px;
    @include tablet {
      max-width: 370px;
    }
  }
  .text-firstBanner h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    width: 280px;
  }

  .info-firstBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    @include mobile {
      width: 280px;
      img {
        width: 280px;
      }
    }
    @include tablet {
      width: 500px;
    }
    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include mobile {
        flex-direction: column;
        align-items: center;
      }
      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
      section {
        display: flex;
        align-items: center;
        margin-right: 20px;
        width: 150px;
        &:last-child {
          margin: 0;
        }
        @include mobile {
          margin: 0;
          &:last-child {
            margin: 0 0 0 0;
          }
        }
        h2 {
          font-size: 3rem;
          margin: 2px 5px 0 0;
          color: var(--fourth);
        }
        span {
          font-size: 1.3rem;
          line-height: 22px;
          max-width: 50px;
        }
      }
    }
  }
}

.dashboard {
  display: flex;
  background-color: var(--lightgrey-lighter);

  .img-lead {
    height: 60px;
    border-radius: 22px;
    margin-right: 10px;
  }
}
.column-left {
  background-color: var(--lightgrey-light);
  max-width: 205px;
  max-height: 110vh;
  @include mobile {
    width: 100%;
  }
  .sidebar, .nav {
    position: static;
    flex-direction: column;
    padding-top: 1.5rem;
    .nav-item {
      &:hover {
        padding-top: 10px;
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
      }
      &:active {
        background-color: var(--primary);
      }
    }
    .nav-link {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      img {
        width: 30px;
        margin-right: 10px;
      }
      h5 {
        margin-bottom: 0;
      }
    }
  }
}

.column-right {
  @include container-main;
  .container-quotes {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    @include mobile {
      flex-direction: column;
    }
    .container-pendingQuotes {
      background-color: var(--white);
      border-radius: var(--border-radius);
      border: none;
      padding: 20px;
      margin-right: 20px;
      width: 350px;
      @include mobile {
        margin: 30px 0;
      }
      .pendingQuotes-title {
        display: flex;
        h4 {
          margin: 10px 0 0 10px;
          color: var(--secondary);
        }
      }
      table tr {
        th {
          font-weight: 500;
        }
        td {
          font-size: 0.8rem;
        }
      }
    }

    .container-createQuotes {
      background-color: var(--white);
      border-radius: var(--border-radius);
      border: none;
      padding: 20px;
      width: 350px;
      margin-right: 20px;
      .createQuotes-title {
        display: flex;
        align-items: center;
        h4 {
          margin-top: 10px;
          color: var(--secondary);
        }
      }
      .form-createQuotes {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width: 380px;
        button {
          height: 60px;
          width: 150px;
          border: none;
          border-radius: 100px;
          background-color: var(--secondary);
          color: var(--white);
          &:disabled {
            cursor: not-allowed;
            opacity: 0.7;
          }
        }
        label {
          display: flex;
          background-color: var(--lightgrey-lighter);
          flex-direction: column;
          color: var(--secondary);
          width: 147px;
          height: 55px;
          margin-bottom: 1rem;
          padding: 5px 0 5px 10px;
          input {
            background-color: transparent;
            border: none;
            &:focus {
              outline: none;
            }
          }
          select {
            background-color: transparent;
            border: none;
            margin-right: 10px;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .container-listLeads {
      background-color: var(--white);
      border-radius: var(--border-radius);
      border: none;
      padding: 20px;
      width: 300px;
      .listLeads-title {
        display: flex;
        align-items: center;
        h4 {
          margin: 10px 0 10px 10px;
          color: var(--secondary);
        }
      }
      .container-eachLead {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        strong {
          font-size: 1rem;
          font-weight: 500;
          color: var(--secondary);
        }
        div {
          display: flex;
          flex-direction: column;
          max-width: 120px;
          font-size: 0.7rem;
          font-weight: 300;
          color: var(--darkgrey-medium);
        }
        .hours {
          font-size: 0.8rem;
          opacity: 0.8;
          letter-spacing: -0.5px;
        }
      }
    }
  }

  .container-maps {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    @include mobile {
      flex-direction: column;
    }
    .buttonMapTrackMe {
      width: 420px;
      height: 250px;
      border: none;
      border-radius: var(--border-radius);
      @include mobile {
        width: 370px;
      }
      .mapboxgl-control-container {
        display: none;
      }
    }
    .section-map {
      background-color: var(--white);
      width: 720px;
      padding: 20px;
      border-radius: var(--border-radius);
      border: none;
      @include mobile {
        margin-bottom: 30px;
        width: 400px;
      }
      .map-title {
        display: flex;
        align-items: center;
        h4 {
          margin: 2px 0 0 10px;
          color: var(--secondary);
        }
      }
      .container-map {
        display: flex;
        justify-content: space-between;
        @include mobile {
          flex-direction: column;
          max-width: 400px;
        }
        .info-map {
          display: flex;
          flex-direction: column;
          .info-map-item {
            display: flex;
            color: var(--primary)
          }
        }
      }
    }

    .container-chat {
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      width: 300px;
      border-radius: var(--border-radius);
      padding: 20px;
      .chat-title {
        display: flex;
        align-items: center;
        margin-bottom: -8px;
        h4 {
          margin-left: 10px;
          color: var(--secondary);
        }
      }
      .container-chat-item {
        display: flex;
        line-height: 12px;
        margin-bottom: 1rem;
        justify-content: space-between;
        div {
          max-width: 130px;
          h5 {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 1rem;
            color: var(--secondary);
          }
          span {
            font-size: 0.7rem;
            color: var(--darkgrey-medium);
          }

        }
      }
    }
  }

  .container-grafics {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    @include mobile {
      flex-direction: column;
    }
    .container-revenueGrafic {
      padding: 20px;
      background-color: var(--white);
      border-radius: var(--border-radius);
      @include mobile {
        max-width: 390px;
      }
      div {
        @include mobile {
          width: 380px !important;
        }
      }
      .revenueGrafic-title {
        display: flex;
        align-items: center;

        h4 {
          margin: 5px 0 0 10px;
          color: var(--secondary);
        }
      }
      #reactgooglegraph-1 {
        margin-top: 30px;
        @include mobile {
          max-width: 370px;
        }
      }
    }
    .container-pizzaGrafic {
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      border-radius: var(--border-radius);
      width: 400px;
      padding: 20px;
      height: 200px;
      @include mobile {
        margin-top: 30px;
      }
      .pizzaGrafic-title {
        display: flex;
        align-items: center;
        h4 {
          margin: 5px 0 0 10px;
          color: var(--secondary);
        }
      }
      .container-grafic-item {
        display: flex;
        max-width: 500px;
        div {
          max-width: 140px;
          max-height: 140px;
          margin-right: -25px;
        }
      }
    }
  }
}